<h2>New album</h2>

<%= render "form.html", changeset: @changeset, artists: @artists, labels: @labels,
                        action: album_path(@conn, :create) %>

<span><%= link "Back", to: album_path(@conn, :index) %></span>
